#page-loader {
    position: fixed;
    inset: 0;
    background: transparent;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.loader-bar {
    width: 100%;
    height: 0%;
    background: rgb(0, 81, 255);
}
